@model hakathon.Models.tblUserNotifications
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<main id="main" class="main">
    <div class="pagetitle">
        <h2>Chỉnh Sửa Thông Báo Người Dùng</h2>
    </div>
    <div class="container shadow p-5">
        <form method="Post" asp-action="Edit">
            <input type="hidden" asp-for="NotificationID" />
            <div class="form-row  row">
                <div class="form-group col-md-6 mb-3">
                    <label asp-for="UserID">ID Người Dùng</label>
                    <input type="number" class="form-control" asp-for="UserID" placeholder="Nhập ID người dùng...">
                    <span asp-validation-for="UserID" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label asp-for="NotificationType">Loại Thông Báo</label>
                    <input type="text" class="form-control" asp-for="NotificationType"
                        placeholder="Nhập loại thông báo...">
                    <span asp-validation-for="NotificationType" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="NotificationContent">Nội Dung Thông Báo</label>
                    <textarea class="form-control" asp-for="NotificationContent"
                        placeholder="Nhập nội dung thông báo..."></textarea>
                    <span asp-validation-for="NotificationContent" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label asp-for="RelatedID">ID Liên Quan</label>
                    <input type="number" class="form-control" asp-for="RelatedID" placeholder="Nhập ID liên quan...">
                    <span asp-validation-for="RelatedID" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label asp-for="RelatedType">Loại Liên Quan</label>
                    <input type="text" class="form-control" asp-for="RelatedType" placeholder="Nhập loại liên quan...">
                    <span asp-validation-for="RelatedType" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="CreatedDate">Ngày Tạo</label>
                    <input type="datetime-local" class="form-control" asp-for="CreatedDate">
                    <span asp-validation-for="CreatedDate" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="ReadDate">Ngày Đọc</label>
                    <input type="datetime-local" class="form-control" asp-for="ReadDate">
                    <span asp-validation-for="ReadDate" class="text-danger"></span>
                </div>
            </div>




            <div class="form-group col-md-6 mb-3">
                <label>
                    @Html.CheckBox("IsRead", Model.IsRead)
                    Đã Đọc
                </label>
            </div>

            <a asp-controller="UserNotifications" asp-action="Index" class="btn btn-lg btn-warning p-2">
                <i class="bi bi-arrow-left-circle"></i>
                Quay lại
            </a>

            <button type="submit" class="btn btn-lg btn-primary p-2">
                <i class="bi bi-save-fill"></i> Lưu thay đổi
            </button>
        </form>
    </div>
</main>