@model hakathon.Models.tblFavorites
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<main id="main" class="main">
    <div class="pagetitle">
        <h1 class="text-danger"><i class="bi bi-exclamation-triangle"></i> Xác nhận xóa mục yêu thích</h1>
    </div>
    <div class="container bg-light p-5 shadow-lg rounded">
        <p class="lead text-success">Bạn có chắc chắn muốn xóa mục yêu thích này?</p>
        <div class="mb-3">
            <label asp-for="UserID" class="form-label">ID Người Dùng</label>
            <input type="text" class="form-control border-danger" asp-for="UserID" disabled />
        </div>
        <div class="mb-3">
            <label asp-for="DocumentID" class="form-label">ID Tài Liệu</label>
            <input type="text" class="form-control border-danger" asp-for="DocumentID" disabled />
        </div>
        <div class="mb-3">
            <label asp-for="DateAdded" class="form-label">Ngày Thêm</label>
            <input type="text" class="form-control border-danger" asp-for="DateAdded" disabled />
        </div>

        <form asp-action="Delete" method="Post">
            <input type="hidden" asp-for="FavoriteID" />
            <div class="d-flex justify-content-between mt-4">
                <a class="btn btn-lg btn-secondary" asp-action="Index">
                    <i class="bi bi-arrow-left-circle"></i> Hủy
                </a>
                <button type="submit" class="btn btn-lg btn-danger">
                    <i class="bi bi-trash"></i> Xóa khỏi Yêu Thích
                </button>
            </div>
        </form>
    </div>
</main>