@model hakathon.Models.tblUsersRoles
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<main id="main" class="main">
    <div class="pagetitle">
        <h2>Chỉnh Sửa Vai Trò Người Dùng</h2>
    </div>
    <div class="container shadow p-5">
        <form method="Post" asp-action="Edit">
            <input type="hidden" asp-for="UserID" />
            <input type="hidden" asp-for="RoleID" />
            <div class="form-row">
                <div class="form-group col-md-12 mb-3">
                    <label asp-for="UserID">Mã Vai Trò</label>
                    <input type="text" class="form-control" asp-for="UserID" placeholder="Nhập Mã vai trò...">
                    <span asp-validation-for="UserID" class="text-danger"></span>
                </div>
                <div class="form-group col-md-12 mb-3">
                    <label asp-for="RoleID">Mã Quyền</label>
                    <input type="text" class="form-control" asp-for="RoleID" placeholder="Nhập Mã Quyền...">
                    <span asp-validation-for="RoleID" class="text-danger"></span>
                </div>
            </div>
            <a asp-controller="UserRole" asp-action="Index" class="btn btn-lg btn-warning p-2">
                <i class="bi bi-arrow-left-circle"></i>
                Quay lại
            </a>

            <button type="submit" class="btn btn-lg btn-primary p-2">
                <i class="bi bi-save-fill"></i> Lưu thay đổi
            </button>
        </form>
    </div>
</main>