@model hakathon.Models.tblCategories
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<main id="main" class="main">
    <div class="pagetitle">
        <h2>Sửa thông tin danh mục tài liệu</h2>
    </div>
    <div class="container shadow p-5">
        <form method="Post" asp-action="Edit">
            <div class="form-row">
                <input type="text" class="form-contro" asp-for="CategoryID" type="hidden">
                <div class="form-group col-md-6 mb-3">
                    <lable>Nhập danh mục tài liệu</lable>
                    <input type="text" class="form-control" asp-for="CategoryName" placeholder="Tên danh mục tài liệu...">
                    <span asp-validation-for="CategoryName" class="alert-danger"></span>
                </div>

                <div class="form-group col-md-6 mb-3">
                    <label>Mô tả</label>
                    <input type="text" class="form-control" asp-for="Description" placeholder="Mô tả...">

                </div>

                <div class="form-group col-md-6 mb-3">
                    <label>Ngày nhập</label>
                    <input type="text" class="form-control" asp-for="CreatedDate" placeholder="Ngày nhập...">
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label>Ngày sửa</label>
                    <input type="text" class="form-control" asp-for="ModifiedDate" placeholder="Ngày sửa...">
                </div>

                <div class="form-group col-md-6 mb-3">
                    <label>
                        @Html.CheckBox("IsActive", Model.IsActive)
                        Hiện thị
                    </label>
                </div>
            </div>
            <a asp-controller="Categories" asp-action="Index" class="btn btn-lg btn-warning p-2">
                <i class="bi bi-arrow-left-circle"></i>
                Quay lại
            </a>

            <button type="submit" class="btn btn-lg btn-primary p-2">
                <i class="bi bi-file-plus-fill"></i> Lưu thông tin
            </button>
        </form>
    </div>
</main>